<data-ng-form name="loginForm" class="">
    <div class="container" data-ng-controller="loginController">
        <div class="login">
            <div class="login-pannel">
                <h3 class="login-heading">SIGN IN</h3>
                <h4>
                    Email Id
                </h4>
                <div class="form-group">
                    <input type="text" name="email" class="form-control" id="email" data-ng-model="login.userName" />
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primery btn-sign" data-ng-click="login()">Next</button>
                </div>
            </div>
        </div>
    </div>
</data-ng-form>
